
@{
    ViewBag.Title = "About";
}

<h2>O nama</h2>
<p>Osnovani smo 2015g. na brdu iznad Dubrave. Jednostavno u društvu dobrih prijatelja</p>
<p>rodila se ideja koja je imala potencijala i krenuli smo u realizaciju, i danas smo tu zadovoljni</p>
<p>svojim postignuićem.</p>
